@keyframes spinner1{
    0%{
        transform: rotate(0deg);
        border-width: 10px;
    }
    50%{
        transform: rotate(180deg);
        border-width: 1px;
    }
    100%{
        transform: rotate(360deg);
        border-width: 10px;
    }
}
